.layout {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: 16px;
  padding-bottom: 16px;
  
  &.staffPost {
    background-color: #dbfff77a;
    color: #000;
  }
}

.borderBottom {
  border-bottom: 1px solid var(--black-075);
}

.adminAnswer {
  padding-left: 40px;
  border-left: 2px solid var(--theme-main-color);
}
